.card_svg {
    position: relative;
    height: 106px;
    width: 72px;
    margin-left: calc(var(--offset) * 1px);
}

.selected_card_svg {
    position: relative;
    bottom: 20px;
    height: 106px;
    width: 72px;
    margin-left: calc(var(--offset) * 1px);
}

.gameContainer {
    position: absolute;
    height: 90%;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.self {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.selfName {
    text-align: center;
    padding-bottom: 10px;
}

.selfFan {
    display: flex;
    padding-left: 40px;
}

.top {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
}

.topName {
    text-align: center;
}

.topFan {
    padding-left: 55px;
    display: flex;
}

.right {
    position: absolute;
    right: 10%;
    top: 25%;
    transform: translate(50%, 0%);
}

.rightName {
    text-align: center;
}

.rightFan {
    display: flex;
    transform: rotate(90deg) translate(50%, 0%);
}

.left {
    position: absolute;
    left: 10%;
    top: 25%;
    transform: translate(-50%, 0%);
}

.leftName {
    text-align: center;
}

.leftFan {
    display: flex;
    transform: rotate(90deg) translate(50%, 0%);
}

.sortButton {
    position: absolute;
    left: 20%;
    bottom: 5%;
}

.actionButton {
    position: absolute;
    right: 20%;
    bottom: 5%;
}

